@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<link rel="stylesheet" href="~/css/admin.css" />


<div class="admin-dashboard">
    <h1 class="admin-welcome">
        Benvenuto 👋
    </h1>
    <div class="admin-options">
        <div class="admin-option" onclick="location.href='/Admin/Query'">
            <i class="fa-solid fa-database admin-icon"></i>
            <p>Gestisci Query</p>
        </div>
    </div>
</div>
