@{
    ViewData["Title"] = "Home";
    var contenutiPerGenere = ViewBag.ContenutiPerGenere as Dictionary<string, List<Streamify.Models.Contenuto>>;
}

<link rel="stylesheet" href="~/css/home.css" />

<div class="container-fluid">
    @foreach (var genere in contenutiPerGenere.Keys)
    {
        <div class="mb-4">
            <h3 class="genere-titolo">@genere</h3>
            <div class="row flex-nowrap overflow-auto">
                @foreach (var contenuto in contenutiPerGenere[genere])
                {
                    <div class="col-auto">
                        <img src="@contenuto.Locandina" alt="@contenuto.Nome" class="locandina" />
                    </div>
                }
            </div>
        </div>
    }
</div>
